USE [Hoteldb]
GO
/****** Object:  Table [dbo].[envanter]    Script Date: 2.01.2026 09:38:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[envanter](
	[IDurun] [int] IDENTITY(1,1) NOT NULL,
	[urunAdi] [nvarchar](100) NULL,
	[kategori] [nvarchar](50) NULL,
	[miktar] [int] NULL,
	[birim] [nvarchar](20) NULL,
	[teminTarihi] [date] NULL,
	[aciklama] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDurun] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fatura]    Script Date: 2.01.2026 09:38:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fatura](
	[IDfatura] [int] IDENTITY(1,1) NOT NULL,
	[tutar] [decimal](10, 2) NOT NULL,
	[vergi] [decimal](5, 2) NOT NULL,
	[odemedurumu] [bit] NOT NULL,
	[IDoda] [int] NULL,
	[tarih] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDfatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hizmet]    Script Date: 2.01.2026 09:38:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hizmet](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Hizmetadi] [nvarchar](100) NOT NULL,
	[Hizmetkategori] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menuler]    Script Date: 2.01.2026 09:38:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menuler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MenuAdi] [nvarchar](100) NOT NULL,
	[Menuicerik] [nvarchar](100) NOT NULL,
	[Fiyat] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[musteriler]    Script Date: 2.01.2026 09:38:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[musteriler](
	[IDmusteri] [int] IDENTITY(1,1) NOT NULL,
	[isim] [nvarchar](50) NOT NULL,
	[soyisim] [nvarchar](50) NOT NULL,
	[odanumara] [int] NOT NULL,
	[IDfatura] [int] NULL,
	[TCNo] [nvarchar](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDmusteri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[odalar]    Script Date: 2.01.2026 09:38:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[odalar](
	[IDoda] [int] IDENTITY(1,1) NOT NULL,
	[IDfatura] [int] NULL,
	[odanumara] [int] NULL,
	[turu] [int] NOT NULL,
	[tutar] [decimal](10, 2) NOT NULL,
	[durumu] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDoda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personel]    Script Date: 2.01.2026 09:38:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personel](
	[IDpersonel] [int] IDENTITY(1,1) NOT NULL,
	[isim] [nvarchar](100) NOT NULL,
	[soyad] [nvarchar](100) NOT NULL,
	[yas] [int] NULL,
	[pozisyon] [nvarchar](100) NULL,
	[vardiya] [nvarchar](50) NULL,
	[telefon] [nvarchar](11) NULL,
	[durum] [bit] NOT NULL,
	[maas] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDpersonel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rezervasyon]    Script Date: 2.01.2026 09:38:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rezervasyon](
	[IDrezervasyon] [int] IDENTITY(1,1) NOT NULL,
	[IDmusteri] [int] NULL,
	[IDoda] [int] NULL,
	[giristarih] [date] NOT NULL,
	[cikistarih] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDrezervasyon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[siparisler]    Script Date: 2.01.2026 09:38:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[siparisler](
	[IDsiparis] [int] IDENTITY(1,1) NOT NULL,
	[IDoda] [int] NOT NULL,
	[urun] [nvarchar](100) NOT NULL,
	[durum] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDsiparis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[temizlik]    Script Date: 2.01.2026 09:38:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temizlik](
	[IDtemizlik] [int] IDENTITY(1,1) NOT NULL,
	[IDoda] [int] NULL,
	[IDpersonel] [int] NULL,
	[temizlikTarihi] [date] NOT NULL,
	[durum] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDtemizlik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 2.01.2026 09:38:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [nvarchar](100) NOT NULL,
	[Kategori] [nvarchar](20) NOT NULL,
	[Fiyat] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vardiyalar]    Script Date: 2.01.2026 09:38:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vardiyalar](
	[IDvardiya] [int] IDENTITY(1,1) NOT NULL,
	[IDpersonel] [int] NULL,
	[vardiyatip] [nvarchar](50) NOT NULL,
	[girissaat] [datetime] NOT NULL,
	[cikissaat] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDvardiya] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[envanter] ON 

INSERT [dbo].[envanter] ([IDurun], [urunAdi], [kategori], [miktar], [birim], [teminTarihi], [aciklama]) VALUES (1, N'Kola', N'İçecek', 100, N'adet', CAST(N'2025-10-22' AS Date), N'Kutu')
INSERT [dbo].[envanter] ([IDurun], [urunAdi], [kategori], [miktar], [birim], [teminTarihi], [aciklama]) VALUES (2, N'Çay', N'İçecek', 200, N'adet', CAST(N'2025-10-22' AS Date), N'Siyah')
INSERT [dbo].[envanter] ([IDurun], [urunAdi], [kategori], [miktar], [birim], [teminTarihi], [aciklama]) VALUES (3, N'Buz', N'Gıda', 50, N'kg', CAST(N'2025-10-22' AS Date), N'Paket Buz')
SET IDENTITY_INSERT [dbo].[envanter] OFF
GO
SET IDENTITY_INSERT [dbo].[fatura] ON 

INSERT [dbo].[fatura] ([IDfatura], [tutar], [vergi], [odemedurumu], [IDoda], [tarih]) VALUES (2, CAST(125000.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(5, 2)), 0, 90, CAST(N'2025-10-06T15:16:51.173' AS DateTime))
INSERT [dbo].[fatura] ([IDfatura], [tutar], [vergi], [odemedurumu], [IDoda], [tarih]) VALUES (3, CAST(70000.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(5, 2)), 1, 56, CAST(N'2025-10-06T15:16:51.173' AS DateTime))
INSERT [dbo].[fatura] ([IDfatura], [tutar], [vergi], [odemedurumu], [IDoda], [tarih]) VALUES (4, CAST(40115.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(5, 2)), 0, 16, CAST(N'2025-10-06T15:16:51.173' AS DateTime))
SET IDENTITY_INSERT [dbo].[fatura] OFF
GO
SET IDENTITY_INSERT [dbo].[hizmet] ON 

INSERT [dbo].[hizmet] ([ID], [Hizmetadi], [Hizmetkategori]) VALUES (1, N'Nevresim Değişimi', N'Değişim')
INSERT [dbo].[hizmet] ([ID], [Hizmetadi], [Hizmetkategori]) VALUES (2, N'Elektrik Arıza', N'Bakım')
INSERT [dbo].[hizmet] ([ID], [Hizmetadi], [Hizmetkategori]) VALUES (3, N'Tesisat Arıza', N'Bakım')
SET IDENTITY_INSERT [dbo].[hizmet] OFF
GO
SET IDENTITY_INSERT [dbo].[Menuler] ON 

INSERT [dbo].[Menuler] ([ID], [MenuAdi], [Menuicerik], [Fiyat]) VALUES (1, N'burger Menü', N'Burger + Kola', CAST(110.00 AS Decimal(10, 2)))
INSERT [dbo].[Menuler] ([ID], [MenuAdi], [Menuicerik], [Fiyat]) VALUES (2, N'pizza Menü', N'Pizza + Kola', CAST(135.00 AS Decimal(10, 2)))
INSERT [dbo].[Menuler] ([ID], [MenuAdi], [Menuicerik], [Fiyat]) VALUES (3, N'Döner Menü 1', N'Döner + Ayran', CAST(95.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Menuler] OFF
GO
SET IDENTITY_INSERT [dbo].[musteriler] ON 

INSERT [dbo].[musteriler] ([IDmusteri], [isim], [soyisim], [odanumara], [IDfatura], [TCNo]) VALUES (1, N'Ahmet', N'Kılıç', 90, 2, N'1234')
INSERT [dbo].[musteriler] ([IDmusteri], [isim], [soyisim], [odanumara], [IDfatura], [TCNo]) VALUES (2, N'Hakan', N'Saran', 0, NULL, N'4321')
INSERT [dbo].[musteriler] ([IDmusteri], [isim], [soyisim], [odanumara], [IDfatura], [TCNo]) VALUES (3, N'Mehmet', N'Candan', 16, 4, N'5432')
SET IDENTITY_INSERT [dbo].[musteriler] OFF
GO
SET IDENTITY_INSERT [dbo].[odalar] ON 

INSERT [dbo].[odalar] ([IDoda], [IDfatura], [odanumara], [turu], [tutar], [durumu]) VALUES (1, NULL, 1, 1, CAST(10000.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[odalar] ([IDoda], [IDfatura], [odanumara], [turu], [tutar], [durumu]) VALUES (2, NULL, 2, 1, CAST(10000.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[odalar] ([IDoda], [IDfatura], [odanumara], [turu], [tutar], [durumu]) VALUES (3, NULL, 3, 1, CAST(10000.00 AS Decimal(10, 2)), 0)
GO
SET IDENTITY_INSERT [dbo].[odalar] OFF
GO
SET IDENTITY_INSERT [dbo].[personel] ON 

INSERT [dbo].[personel] ([IDpersonel], [isim], [soyad], [yas], [pozisyon], [vardiya], [telefon], [durum], [maas]) VALUES (1, N'Ahmet', N'Yılmaz', 35, N'İnsan Kaynakları', N'Sabit', N'05345254572', 1, CAST(35000.00 AS Decimal(10, 2)))
INSERT [dbo].[personel] ([IDpersonel], [isim], [soyad], [yas], [pozisyon], [vardiya], [telefon], [durum], [maas]) VALUES (2, N'Mehmet', N'Kara', 28, N'Ön Büro', N'Gündüz', N'05452545454', 1, CAST(28075.00 AS Decimal(10, 2)))
INSERT [dbo].[personel] ([IDpersonel], [isim], [soyad], [yas], [pozisyon], [vardiya], [telefon], [durum], [maas]) VALUES (3, N'Ayşe', N'Demir', 30, N'Ön Büro', N'Gece', N'05541252522', 1, CAST(28075.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[personel] OFF
GO
SET IDENTITY_INSERT [dbo].[rezervasyon] ON 

INSERT [dbo].[rezervasyon] ([IDrezervasyon], [IDmusteri], [IDoda], [giristarih], [cikistarih]) VALUES (1, 1, 90, CAST(N'2025-10-06' AS Date), CAST(N'2025-10-11' AS Date))
INSERT [dbo].[rezervasyon] ([IDrezervasyon], [IDmusteri], [IDoda], [giristarih], [cikistarih]) VALUES (2, 2, 56, CAST(N'2025-10-06' AS Date), CAST(N'2025-10-15' AS Date))
INSERT [dbo].[rezervasyon] ([IDrezervasyon], [IDmusteri], [IDoda], [giristarih], [cikistarih]) VALUES (3, 3, 16, CAST(N'2025-10-06' AS Date), CAST(N'2025-10-10' AS Date))
SET IDENTITY_INSERT [dbo].[rezervasyon] OFF
GO
SET IDENTITY_INSERT [dbo].[siparisler] ON 

INSERT [dbo].[siparisler] ([IDsiparis], [IDoda], [urun], [durum]) VALUES (1, 16, N'Menü 1 Yemek', 0)
INSERT [dbo].[siparisler] ([IDsiparis], [IDoda], [urun], [durum]) VALUES (2, 88, N'İçecek Servis', 0)
INSERT [dbo].[siparisler] ([IDsiparis], [IDoda], [urun], [durum]) VALUES (3, 16, N'Döner Menü 1', 0)
SET IDENTITY_INSERT [dbo].[siparisler] OFF
GO
SET IDENTITY_INSERT [dbo].[temizlik] ON 

INSERT [dbo].[temizlik] ([IDtemizlik], [IDoda], [IDpersonel], [temizlikTarihi], [durum]) VALUES (1, 16, 5, CAST(N'2025-11-13' AS Date), N'0')
INSERT [dbo].[temizlik] ([IDtemizlik], [IDoda], [IDpersonel], [temizlikTarihi], [durum]) VALUES (3, 16, 4, CAST(N'2025-12-04' AS Date), N'0')
SET IDENTITY_INSERT [dbo].[temizlik] OFF
GO
SET IDENTITY_INSERT [dbo].[Urunler] ON 

INSERT [dbo].[Urunler] ([ID], [UrunAdi], [Kategori], [Fiyat]) VALUES (1, N'Burger', N'Yemek', CAST(90.00 AS Decimal(10, 2)))
INSERT [dbo].[Urunler] ([ID], [UrunAdi], [Kategori], [Fiyat]) VALUES (2, N'Pizza', N'Yemek', CAST(110.00 AS Decimal(10, 2)))
INSERT [dbo].[Urunler] ([ID], [UrunAdi], [Kategori], [Fiyat]) VALUES (3, N'Döner', N'Yemek', CAST(85.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Urunler] OFF
GO
ALTER TABLE [dbo].[fatura] ADD  DEFAULT ((10)) FOR [vergi]
GO
ALTER TABLE [dbo].[personel] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[personel] ADD  DEFAULT ((28075)) FOR [maas]
GO
ALTER TABLE [dbo].[siparisler] ADD  DEFAULT ((0)) FOR [durum]
GO
ALTER TABLE [dbo].[temizlik] ADD  DEFAULT (getdate()) FOR [temizlikTarihi]
GO
ALTER TABLE [dbo].[fatura]  WITH CHECK ADD  CONSTRAINT [FK_fatura_odalar] FOREIGN KEY([IDoda])
REFERENCES [dbo].[odalar] ([IDoda])
GO
ALTER TABLE [dbo].[fatura] CHECK CONSTRAINT [FK_fatura_odalar]
GO
ALTER TABLE [dbo].[musteriler]  WITH CHECK ADD FOREIGN KEY([IDfatura])
REFERENCES [dbo].[fatura] ([IDfatura])
GO
ALTER TABLE [dbo].[odalar]  WITH CHECK ADD FOREIGN KEY([IDfatura])
REFERENCES [dbo].[fatura] ([IDfatura])
GO
ALTER TABLE [dbo].[rezervasyon]  WITH CHECK ADD FOREIGN KEY([IDmusteri])
REFERENCES [dbo].[musteriler] ([IDmusteri])
GO
ALTER TABLE [dbo].[rezervasyon]  WITH CHECK ADD FOREIGN KEY([IDoda])
REFERENCES [dbo].[odalar] ([IDoda])
GO
ALTER TABLE [dbo].[siparisler]  WITH CHECK ADD  CONSTRAINT [FK_siparisler_odalar] FOREIGN KEY([IDoda])
REFERENCES [dbo].[odalar] ([IDoda])
GO
ALTER TABLE [dbo].[siparisler] CHECK CONSTRAINT [FK_siparisler_odalar]
GO
ALTER TABLE [dbo].[temizlik]  WITH CHECK ADD FOREIGN KEY([IDoda])
REFERENCES [dbo].[odalar] ([IDoda])
GO
ALTER TABLE [dbo].[temizlik]  WITH CHECK ADD FOREIGN KEY([IDpersonel])
REFERENCES [dbo].[personel] ([IDpersonel])
GO
ALTER TABLE [dbo].[vardiyalar]  WITH CHECK ADD FOREIGN KEY([IDpersonel])
REFERENCES [dbo].[personel] ([IDpersonel])
GO
